<h1 mat-dialog-title>Hi SEAN!!!</h1>
<div mat-dialog-content>
  <p>FIRST DIALOG</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="openSecond()" cdkFocusInitial>Open Second Dialog</button>
</div>
